<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>315956050701-vfjlcbj03dpsqo69g47lcm8r5js8mlf6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.315956050701-vfjlcbj03dpsqo69g47lcm8r5js8mlf6</string>
	<key>API_KEY</key>
	<string>AIzaSyC0rMQQPWJsv-Q7K4Y8k-Q5zi5WWD9gyTg</string>
	<key>GCM_SENDER_ID</key>
	<string>315956050701</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.practiceProject</string>
	<key>PROJECT_ID</key>
	<string>project-work-a6505</string>
	<key>STORAGE_BUCKET</key>
	<string>project-work-a6505.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:315956050701:ios:a688ecc9128f14546e8e44</string>
</dict>
</plist>